In [26]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df_age=pd.read_csv('INTELLECTUALS_RAJALAKSHMI INSTITUTE OF TECHNOLOGY_ACCIDENT LOCATIONS ON INDIAN ROADS\data\Age_data.csv')
df_gender=pd.read_csv('INTELLECTUALS_RAJALAKSHMI INSTITUTE OF TECHNOLOGY_ACCIDENT LOCATIONS ON INDIAN ROADS\data\Gender_data.csv')

Preprocessing

In [ ]:
df_age

In [30]:
df_age.dropna(inplace=True)

In [31]:
df_age.drop(df_age[df_age['Age-Group'] == 'Total'].index, inplace=True)

In [32]:
df_age.rename(columns={'Age-Group': 'Age_Group','Number of Persons Killed - 2016':'Death_2016','Number of Persons Killed - 2017':'Death_2017','Number of Persons Killed - 2018':'Death_2018'}, inplace=True)

In [33]:
df_age.drop(['%-Age Change in 2016 over 2017','%-Age Change in 2018 over 2017'],axis=1,inplace=True)

In [ ]:
df_age

In [ ]:
df_gender

In [16]:
df_gender.dropna(inplace=True)

In [18]:
df_gender.drop(df_gender[df_gender['Age-Group'] == 'Total'].index, inplace=True)

In [19]:
df_gender.drop(['%-Age Change in 2016 over 2017 - Male',	'%-Age Change in 2016 over 2017 - Female'	,'%-Age Change in 2018 over 2017 - Male',	'%-Age Change in 2018 over 2017 - Female'],axis=1,inplace=True)

In [39]:
df_gender.rename(columns={'Age-Group':'Age_Group', '2016 - Male':'2016_Male', '2016 - Female':'2016_Female', '2017 - Male':'2017_Male','2017 - Female':'2017_Female', '2018 - Male':'2018_Male', '2018 - Female':'2018_Female'},inplace=True)

In [ ]:
df_gender

In [21]:
df_age.columns

Index(['Age_Group', 'Death_2016', 'Death_2017', 'Death_2028'], dtype='object')

In [40]:
df_gender.columns

Index(['Age_Group', '2016_Male', '2016_Female', '2017_Male', '2017_Female',
       '2018_Male', '2018_Female'],
      dtype='object')

Analysis By Age

In [ ]:
df_age['Total_Deaths'] = df_age[['Death_2016', 'Death_2017', 'Death_2018']].sum(axis=1)

print("Total deaths by Age Group:\n", df_age[['Age_Group', 'Total_Deaths']], "\n")

plt.figure(figsize=(10,5))
plt.bar(df_age['Age_Group'], df_age['Total_Deaths'], color='tomato')
plt.title("Total Road Accident Deaths by Age Group (2016–2018) - Tamil Nadu")
plt.xlabel("Age Group")
plt.ylabel("Total Deaths")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

Analysis By Gender

In [ ]:
gender_summary = {
    'Male': df_gender[['2016_Male', '2017_Male', '2018_Male']].sum().sum(),
    'Female': df_gender[['2016_Female', '2017_Female', '2018_Female']].sum().sum()
}

gender_df = pd.DataFrame(list(gender_summary.items()), columns=['Gender', 'Total_Deaths'])
print("Total deaths by Gender:\n", gender_df, "\n")

plt.figure(figsize=(5,5))
plt.pie(gender_df['Total_Deaths'], labels=gender_df['Gender'], autopct='%1.1f%%', startangle=140, colors=['steelblue', 'lightcoral'])
plt.title("Road Accident Deaths by Gender (2016–2018) - Tamil Nadu")
plt.show()

Trend Over Years

In [ ]:
yearly_totals = {
    '2016': df_age['Death_2016'].sum(),
    '2017': df_age['Death_2017'].sum(),
    '2018': df_age['Death_2018'].sum()
}

plt.figure(figsize=(8,5))
plt.plot(yearly_totals.keys(), yearly_totals.values(), marker='o', color='darkorange')
plt.title("Trend of Road Accident Deaths in Tamil Nadu (2016–2018)")
plt.xlabel("Year")
plt.ylabel("Total Deaths")
plt.grid(True)
plt.show()

Combined Insights

In [ ]:
df_gender['Total_2018'] = df_gender['2018_Male'] + df_gender['2018_Female']
df_gender['Male_%_2018'] = (df_gender['2018_Male'] / df_gender['Total_2018']) * 100
df_gender['Female_%_2018'] = (df_gender['2018_Female'] / df_gender['Total_2018']) * 100

print("Gender ratio by Age Group (2018):\n", df_gender[['Age_Group', 'Male_%_2018', 'Female_%_2018']])

plt.figure(figsize=(10,5))
plt.bar(df_gender['Age_Group'], df_gender['Male_%_2018'], label='Male %', color='royalblue')
plt.bar(df_gender['Age_Group'], df_gender['Female_%_2018'], bottom=df_gender['Male_%_2018'], label='Female %', color='pink')
plt.title("Gender Distribution by Age Group (2018) - Tamil Nadu")
plt.xlabel("Age Group")
plt.ylabel("Percentage")
plt.xticks(rotation=45)
plt.legend()
plt.tight_layout()
plt.show()